/*  */
.search-form {
    margin: 0 auto;
    max-width: 320px;
    padding: 20px;
}

.search-bar {
    width: 50%;
    border: 0;
    padding: 10px 20px;
    color:white
}


.indiResults {
    padding: 5px;
    border: 2px solid white;
    border-radius: 5px;
    margin: 10px;
    box-shadow: 0px 5px 10px rgb(124, 120, 129);
    display: left;
    background: white;


}

.row {
    width: 100%;
}

h3 {
    color: #007adf;
    justify-content: center;
    text-align: center;
}

.AddLog {
    border-radius: 50%;
    width: 50px;
    justify-content: center;
    margin: auto;
    text-align: center;
}